body {
    height: 100vh !important;
    filter: blur(4px);
    transition: filter 0.8s ease-out;
}

.acm {
    display: flex;
    margin-top: 15px;
    color: #707070;
    align-items: center;
}

.acm img {
    width: 40px;
}

.acm p {
    margin-left: 10px;
    font-size: 11px !important;
}

@media (max-width: 950px) { 
    body {
        height: 110vh;
    }
}