body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
     background: rgb(255,255,255);
     background: rgb(255,255,255);
     background: -moz-linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(208,255,217,1) 100%);
     background: -webkit-linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(208,255,217,1) 100%);
     background: linear-gradient(153deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(208,255,217,1) 100%);
     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#d0ffd9",GradientType=1); 
     overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

@keyframes smooth {
    0% {
      background: #526991;
    }
  
    25% {
      background: #88bdbc;
    }
  
    50% {
      background: #6577bd;
    }
  
    75% {
      background: #8d63b4;
    }
  
    100% {
      background: #526991;
    }
  }

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .loaded {
    filter: blur(0px) !important;
  }
  

/* Navbar Styles */

nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > a > img, #logo {
    height: 30px;
    width: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav a:hover {
    color: #5fa761;
    transition: 1s;
}

#hamburger {
    display: none;
}

#overlay {
    display: none;
}

/* Navigation Desktop Styles */

@media (min-width: 768px) {
    nav {
        padding: 0 200px;
    }
    nav ul {
        display: flex;
        max-width: 400px;
        width: 100%;
        justify-content: space-between;
    }
}

/* Page Content */

.content, .content-1 {
    display: flex;
    padding: 0 180px;
  
}

.content {
    flex-direction: row;
    align-items: center;
    margin:auto;
    justify-content: space-between;
    margin-top:20vh;
}

.content-1 {
    flex-direction: column;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 10vh;
}

.text-content {
    width: 50%;
}

.graphic {
    width: 330px;
}

.questionnaire-text, form {
    width: 70%;
    margin: auto;
    margin-top:5vh;
}

p {
    color: #707070;
    font-size: 15px;
    font-weight: 300;
}

h1 {
    font-size: 22px;
}

/* Button */

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #355836;
    border-radius: 2px;
    margin: 20px 20px 20px 20px;
    color:#355836;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
    
  }

  .button {
    margin-top: 30px;
  }
  
  .button a {
    text-decoration: none;
    color: #355836
  }
  
  #button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  #button-3 a {
    position: relative;
    transition: all 0.45s ease-Out;
  }
  
  #circle {
    width: 0%; 
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #355836;
    position: absolute;
    transition: all 0.5s ease-Out;
    top: 20px;
    left: 70px;
  }
  
  #button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  #button-3:hover a {
    color: white;
  }

  .footer {
    animation: smooth 40s infinite;
    color: white;
    padding: 20px;
    text-align: center;
    bottom: 0;
    margin-top: 20px;
  }
  
  .footer a, .footer p {
    color: white;
  }

  form {
    border-radius: 10px;
    background-color: #DCF2E4;
    width: 70%;
    padding: 50px;
    -webkit-box-shadow: 2px 3px 9px -5px rgba(122,122,122,0.72);
    -moz-box-shadow: 2px 3px 9px -5px rgba(122,122,122,0.72);
    box-shadow: 2px 3px 9px -5px rgba(122,122,122,0.72);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-bottom: 40px;
  }

  .interest-check {
    display: flex;
    width: 60%;
    flex-direction:row;
    align-items:center;
  }

  .interest-check p {
    margin-left: 5px;
    font-size: 13px;
    color: #355836;
  }

  .interest-title {
    font-size: 16px;
    font-weight: 500;
    color: #355836;
  }


  input, #dropdown {
    background-color:#DCF2E4;
    border: 0;
    border-bottom: 2px solid #355836;
    width: 380px;
    font-size: 13px;
  }

  input[type=text], input[type=email], #dropdown {
    font-family: 'Montserrat', sans-serif;
    color: #0d2c0e;
    padding: 11px;
    margin: 20px 0;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  select:required:invalid {
    color: #355836 !important;
  }
  
  option[value=""][disabled] {
    display: none;
  }

  option {
    color: #355836;
  }

  .form-comp {
    display: flex;
    justify-content: space-between;
  }

  .terms {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
  }

  .terms p {
    color: #355836;
    font-size: 12px;
  }

  .checkbox {
    width: 20px !important;
  }

  .button input {
    border: 0;
    font-family: 'Montserrat', sans-serif;
  }

  input[type=submit]:hover {
    color: white;
  }

  /* Navigation Mobile Styles */

@media (max-width: 767px) {
  nav {
      padding: 0 200px;
  }

  nav ul {
      display: none;
      max-width: 40vw;
      width: 100%;
      height: 100vh;
      background: white;
      position: fixed;
      top: 0;
      left: 0;
      padding: 20px;
      box-sizing: border-box;
  }

  nav ul.active {
      display: block;
  }

  nav ul li {
      padding: 20px;
  }

  #hamburger {
      display: block;
      height: 30px;
      width: auto;
  }

  #overlay {
      display: none;
      width: 100vw;
      height: 100vh;
      background: black;
      opacity: 0.5;
      position: fixed;
      top: 0;
      left: 0;
      bottom:0;
      right: 0;
      z-index: 0;
  }

  #overlay.active {
      display: block;
  }
}
