<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headContent.html" %}
    <link rel="stylesheet" href="../static/css/home.css">
    <title>clovr • clever matching</title>
</head>
<body id = "body">
    {% include "nav.html" %}

      <section class="content">
        <div>
            <img class="graphic" src="../static/assets/homegraphic.svg" alt="dating app graphic">
        </div>
        <div class="text-content">
            <h1>Clever Matching with <a class="green">Clovr</a></h1>
            <p>Welcome to Clovr, a social networking tool and event for UNC CS students. 
              Here, you can fill out a questionnaire detailing your interests and hobbies, 
              and be matched with other students like you via our algorithm. Your matches will be revealed on a fun night of chatting, speed-dating 
              style virtual social event on <a class="green">March 17th at 7:00pm EST</a>.</p>
              <p>The Zoom Link will be emailed to you upon submitting the <a href="/questionnaire" class="green">questionnaire</a>.</p>
             
                    <div class="button" id="button-3">
                      <div id="circle"></div>
                      <a href="/questionnaire">Get Started</a>
                       
              </div>
              <div class="acm">
                <div>
                  <img href="https://linktr.ee/unc_acm" src="/static/assets/ACMlogo.png" alt="ACM logo">
                </div>
                <div>
                  <p>Clovr is sponsored by <a href="https://linktr.ee/unc_acm" class="green">UNC ACM</a>, the UNC Chapel Hill 
                    Chapter of the Association for Computing Machinery.</p>
                </div>

        </div>
       
      </section>


    
</body>
</html>