<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headContent.html" %}
    <link rel="stylesheet" href="../static/css/home.css">
    <title>clovr • clever matching</title>
</head>
<body id = "body">
    {% include "nav.html" %}

      <section class="content">
        <div>
            <img class="graphic" src="../static/assets/homegraphic.svg" alt="dating app graphic">
        </div>
        <div class="text-content">
            <h1>Clever Matching with <a style="color: #355836">Clovr</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate 
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                in culpa.</p>

                    <div class="button" id="button-3">
                      <div id="circle"></div>
                      <a href="questionnaire.html">Get Started</a>

        </div>
      </section>


    
</body>
</html>