<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headContent.html" %}
    <link rel="stylesheet" href="../static/css/home.css">
    <title>clovr • clever matching</title>
</head>
<body id = "body">
    {% include "nav.html" %}

      <section class="content">
        <div>
            <img class="graphic" src="../static/assets/homegraphic.svg" alt="dating app graphic">
        </div>
        <div class="text-content">
            <h1>Clever Matching with <a style="color: #355836">Clovr</a></h1>
            <p>Welcome to Clovr, a social networking tool and event for UNC CS students. 
              Here you can fill out a questionnaire detailing your interests and hobbies, 
              and be matched with other students like you via our algorithm. Look out for a link for the Zoom event, 
              where your matches will be revealed! Join us for this fun night of chatting and relaxing virtual social night on March 17th at 7:00pm EST. </p>

                    <div class="button" id="button-3">
                      <div id="circle"></div>
                      <a href="/questionnaire">Get Started</a>

        </div>
      </section>


    
</body>
</html>