<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headContent.html" %}
    <title>clovr • questionnaire</title>
</head>
<body>
    {% include "nav.html" %}

      <section class="questionnaire-text">
        <div>
            <h1>Welcome!</h1>
            <p>Fill out this questionnaire to get your matches! You will have the opportunity to meet your matches on our Match Reveal Night, 
              March 17th, 7:00PM EST. You will receive an invitation after filling out this form. Please make sure to read and agree to the <a style="text-decoration: none; color: green;"href="terms.html">Terms and Conditions</a>. 
            </p>
        </div>
        
      </section>

      <section>
        <form>
          <div class="form-comp">
            <input required name = "first" type="text" placeholder="First Name">
            <input required name = "last" type="text" placeholder="Last Name">
          </div>
            <div class="form-comp">
              <select required name="gender" id="dropdown">
                <option value="" disabled selected hidden>Gender</option>
                <option value="man">Man</option>
                <option value="woman">Woman</option>
                <option value="nonbinary">Non Binary</option>
            </select>
            <input required name = "email" type="email" placeholder="Email (@unc.edu)">
            </div>
            <div class="form-comp">
              <input required name = "major" type="text" placeholder="Major(s) and minor(s)">
              <select required name="year" id="dropdown">
                  <option value="" disabled selected hidden>Year</option>
                  <option value="freshman">Freshman</option>
                  <option value="sophomore">Sophomore</option>
                  <option value="junior">Junior</option>
                  <option value="senior">Senior/Super Senior</option>
              </select>
            </div>
            <div class="form-comp">
              <input required name="linkedin" type="text" placeholder="LinkedIn Profile Link">
              <input required name="instagram" type="text" placeholder="Instagram (@)">
            </div>
            <p class="interest-title">CS Interests</p>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="ai" class="checkbox">
                <p>Artificial Intelligence</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="arc" class="checkbox">
                <p>Computer Architecture & Engineering</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="bio" class="checkbox">
                <p>Biosystems & Computational Biology</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="cpsda" class="checkbox">
                <p>Cyber-Physical Systems and Design Automation</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="dbms" class="checkbox">
                <p>Database Management Systems</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="educ" class="checkbox">
                <p>Education</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="gr" class="checkbox">
                <p>Graphics</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="hci" class="checkbox">
                <p>Human-Computer Interaction</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="osnt" class="checkbox">
                <p>Operating Systems & Networking</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="ps" class="checkbox">
                <p>Programming Systems</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="sci" class="checkbox">
                <p>Scientific Computing</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="csinterest[]" value="sec" class="checkbox">
                <p>Security</p>
              </div>
            </div>

            <p class="interest-title">Other Interests / Hobbies</p>
            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="art" class="checkbox">
                <p>Arts / Crafts (knitting, scrapbooking, etc)</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="fitness" class="checkbox">
                <p>Fitness / Sports (rowing, rock climbing, ping pong, etc)</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="outdoor" class="checkbox">
                <p>Outdoor activities (hiking, fishing, etc)</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="lit" class="checkbox">
                <p>Performing Arts / Literature (dance, books, writing etc)</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="bgames" class="checkbox">
                <p>Board/Card Games (Monopoly, Chess, Cards Against Humanity, etc)</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="vgames" class="checkbox">
                <p>Video Games (League of Legends, Valorant, Minecraft, etc)</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="music" class="checkbox">
                <p>Music (General)</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="bandorch" class="checkbox">
                <p>Band / Orchestra</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="sports" class="checkbox">
                <p>Baking / Cooking</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="netflix" class="checkbox">
                <p>Netflix</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="digitalart" class="checkbox">
                <p>Digital Art</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="tiktok" class="checkbox">
                <p>TikTok</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="activism" class="checkbox">
                <p>Activism</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="movies" class="checkbox">
                <p>Films / Movies</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="content" class="checkbox">
                <p>Content Creation/Viewing (TikTok, Instagram, Twitter, etc)</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="coding" class="checkbox">
                <p>Coding (for fun?)</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="writing" class="checkbox">
                <p>Writing</p>
              </div>
              <div class="interest-check">
                <input type="checkbox" name="hobbies[]" value="fashion" class="checkbox">
                <p>Fashion</p>
              </div>
            </div>

            <div class="form-comp">
              <div class="terms">
                <input required name="terms" type="checkbox" class="checkbox"/>
                <p>By submitting this form I agree to the <a style="text-decoration: none; color: green;"href="terms.html">Terms and Conditions</a>. 
                  I also acknowledge that the information that I submit will be used to create my matches and that my social media information may be 
                  released to my matches.</p>
              </div>
              <div>
              
                  <input class="submit-button" type="submit" value="SUBMIT">
         
            </div>
            
        </form>
    </section>


    
</body>
</html>