<!DOCTYPE html>
<html lang="en">

<head>
    {% include "headContent.html" %}
    <title>clovr • </title>
</head>

<body>
    {% include "nav.html" %}
    <section>
        <div style="height: 70vh;">
            <div class="card">
                <!-- filler text -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    
    
    </section>
    <div class="footer">
        <p><a style="color:rgb(196, 255, 196); text-decoration: none;" href="https://github.com/ceciliallee/clovr">Open
                source project</a> made with &#9829; by our team • 2021</a></p>
    </div>
</body>

</html>