<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="../static/js/main.js" defer></script>
    <link rel="icon" 
      type="image/svg" 
      href="../static/assets/logobg.svg">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet"> 
    <title>clovr • terms & conditions</title>
</head>
<body id="terms">
    <nav>
        <a id = "logo" href="/"><img src="../static/assets/logohome.svg" alt="logo"></a>
        <img id ="hamburger" src="../static/assets/menu.svg" alt="Menu">
        <div id="overlay"></div>
        <ul id = "menu">
          <li><a href="/index">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/questionnaire">Questionnaire</a></li>
        </ul>
      </nav>

      <section class="terms-page">
       <h1>Terms and Conditions</h1>
       <p>By registering for this event, you agree to be respectful of everyone involved, including all organizers and all other 
         participants. You agree not to discriminate against anyone’s identity, including gender, race, ethnicity, sexual orientation, 
         economic/social status, disability, and age. We value your attendance and want to ensure that everyone feels safe and welcome. 
         Harassment of any kind will not be tolerated. If a participant engages in harassing behavior, they will be asked to stop any the 
         behavior and are expected to comply immediately. They may also be asked to leave the event and not return. </p>
        <p>
          If you are being harassed or notice that anyone else is being harassed, please contact Cecilia Lee, Lindsay Greene, or Amin Zamani 
        to report this.
        </p>
        <img class="terms-img" src="../static/assets/terms.svg" alt="thank-you">
        <p class="footer-text"><a style="color:rgb(196, 255, 196); text-decoration: none;"href="https://github.com/ceciliallee/clovr">Open source project</a> made with &#9829; by our team • 2021</a></p>
      </section>

      <div>
        
        <img class="terms-footer" src="../static/assets/footer.svg" alt="footer">
      </div>
       



    
</body>
</html>