<!DOCTYPE html>
<html lang="en">
<head>
    {% include "headContent.html" %}
    <title>clovr • Verification</title>
</head>
<body>
    {% include "nav.html" %}
    <section>
        <form action="/verify" name = "verification" method="post">
            <div class="form-comp">
                <input required name="access" type="text" placeholder="Access code">
            </div>
            <div>

                  <input class="submit-button" type="submit" value="SUBMIT">

            </div>
        </form>
    </section>
     <div class="footer">
        <p><a style="color:rgb(196, 255, 196); text-decoration: none;"href="https://github.com/ceciliallee/clovr">Open source project</a> made with &#9829; by our team • 2021</a></p>
      </div>
</body>
</html>